* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;    
}

header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69px;
  position: fixed;
  margin-top: -8px;
  background-color: black;
  width: 100%;
  z-index: 1;  
}
header img {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid seashell;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav a {
  padding: 20px;
}






.main {
  width: 1200px;
  opacity: 0.9;
  margin: auto;
}
.flex-container {
  display: flex;
  align-items: center;
}
.container {
  background-color: black;
  width: 100%;
    text-align: center;
}

.container h2 {
    font-size: 32px;
}
#mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg); 
    width: 1100px;
}




#teas {
    width: 1000px;
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 100px;
}

#teas h2 {
    font-size: 32px;
}


.tea_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row_one{
    margin: 40px auto 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between
    
}

.column.left, .column.mid{
    flex: 1;
    margin-right: 40px;
}

.column.right{
    flex: 1;
}

.column.img {
    height: 200px;
    width: 300px;
}

.row_two {
    display: flex;
    margin: 40px auto 0px auto;
    text-align: center;
}


#locations-section {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}
.locations {
  background-color: transparent;
  margin: auto;
  width: 1100px;
}

.location-element {
    padding: 10px;
    margin: 20px;
    width: 300px;
    height: 250px;
    text-align: center;

}

.contact {
    text-align: center
}

.locations-title {
    text-align: center;
    background: none;
    font-size: 40px;
}